################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Flipkart/Flipkart/bin/Release/net6.0/appsettings.Development.json
/src/Flipkart/Flipkart/bin/Release/net6.0/appsettings.json
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.deps.json
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.staticwebassets.runtime.json
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.runtimeconfig.json
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.pdb
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.exe
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.dll
/src/Flipkart/.vs/Flipkart/DesignTimeBuild/.dtbcache.v2
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.dll
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.GeneratedMSBuildEditorConfig.editorconfig
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.genruntimeconfig.cache
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.GlobalUsings.g.cs
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.MvcApplicationPartsAssemblyInfo.cache
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.pdb
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.RazorAssemblyInfo.cache
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.RazorAssemblyInfo.cs
/src/Flipkart/Flipkart/obj/Release/net6.0/ref/Flipkart.dll
/src/Flipkart/Flipkart/obj/Release/net6.0/refint/Flipkart.dll
/src/Flipkart/Flipkart/obj/Release/net6.0/scopedcss/bundle/Flipkart.styles.css
/src/Flipkart/Flipkart/obj/Release/net6.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
/src/Flipkart/Flipkart/obj/Release/net6.0/scopedcss/projectbundle/Flipkart.bundle.scp.css
/src/Flipkart/Flipkart/obj/Release/net6.0/staticwebassets.build.json
/src/Flipkart/Flipkart/obj/Release/net6.0/staticwebassets.development.json
/src/Flipkart/Flipkart/obj/staticwebassets.pack.sentinel
/.vs/slnx.sqlite
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.csproj.CopyComplete
/src/Flipkart/Flipkart/obj/Debug/net6.0/staticwebassets.development.json
/src/Flipkart/Flipkart/obj/Debug/net6.0/staticwebassets.build.json
/src/Flipkart/Flipkart/obj/Debug/net6.0/scopedcss/projectbundle/Flipkart.bundle.scp.css
/src/Flipkart/Flipkart/obj/Debug/net6.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
/src/Flipkart/Flipkart/obj/Debug/net6.0/scopedcss/bundle/Flipkart.styles.css
/src/Flipkart/Flipkart/obj/Debug/net6.0/refint/Flipkart.dll
/src/Flipkart/Flipkart/obj/Debug/net6.0/ref/Flipkart.dll
