################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Flipkart/Flipkart/bin/Release/net6.0/appsettings.Development.json
/src/Flipkart/Flipkart/bin/Release/net6.0/appsettings.json
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.deps.json
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.staticwebassets.runtime.json
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.runtimeconfig.json
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.pdb
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.exe
/src/Flipkart/Flipkart/bin/Release/net6.0/Flipkart.dll
/src/Flipkart/.vs/Flipkart/DesignTimeBuild/.dtbcache.v2
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.dll
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.GeneratedMSBuildEditorConfig.editorconfig
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.genruntimeconfig.cache
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.GlobalUsings.g.cs
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.MvcApplicationPartsAssemblyInfo.cache
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.pdb
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.RazorAssemblyInfo.cache
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.RazorAssemblyInfo.cs
/src/Flipkart/Flipkart/obj/Release/net6.0/ref/Flipkart.dll
/src/Flipkart/Flipkart/obj/Release/net6.0/refint/Flipkart.dll
/src/Flipkart/Flipkart/obj/Release/net6.0/scopedcss/bundle/Flipkart.styles.css
/src/Flipkart/Flipkart/obj/Release/net6.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
/src/Flipkart/Flipkart/obj/Release/net6.0/scopedcss/projectbundle/Flipkart.bundle.scp.css
/src/Flipkart/Flipkart/obj/Release/net6.0/staticwebassets.build.json
/src/Flipkart/Flipkart/obj/Release/net6.0/staticwebassets.development.json
/src/Flipkart/Flipkart/obj/staticwebassets.pack.sentinel
/.vs/slnx.sqlite
/src/Flipkart/Flipkart/obj/Release/net6.0/Flipkart.csproj.CopyComplete
/src/Flipkart/Flipkart/obj/Debug/net6.0/staticwebassets.development.json
/src/Flipkart/Flipkart/obj/Debug/net6.0/staticwebassets.build.json
/src/Flipkart/Flipkart/obj/Debug/net6.0/scopedcss/projectbundle/Flipkart.bundle.scp.css
/src/Flipkart/Flipkart/obj/Debug/net6.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
/src/Flipkart/Flipkart/obj/Debug/net6.0/scopedcss/bundle/Flipkart.styles.css
/src/Flipkart/Flipkart/obj/Debug/net6.0/refint/Flipkart.dll
/src/Flipkart/Flipkart/obj/Debug/net6.0/ref/Flipkart.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.AdapterUtilities.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/obj/Debug/net6.0/Flipkart.UnitTests.csproj.AssemblyReference.cache
/src/Flipkart/Flipkart.UnitTests/obj/Debug/net6.0/Flipkart.UnitTests.assets.cache
/src/Flipkart/Flipkart.UnitTests/obj/Debug/net6.0/Flipkart.UnitTests.AssemblyInfoInputs.cache
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/testhost.exe
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/testhost.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/NuGet.Frameworks.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Newtonsoft.Json.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.TestPlatform.Utilities.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/Microsoft.TestPlatform.AdapterUtilities.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Release/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/System.Configuration.ConfigurationManager.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/Newtonsoft.Json.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/Microsoft.Win32.SystemEvents.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/Microsoft.Extensions.Logging.ApplicationInsights.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/Microsoft.ApplicationInsights.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/Microsoft.ApplicationInsights.AspNetCore.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/Microsoft.AI.WindowsServer.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/Microsoft.AI.ServerTelemetryChannel.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/Microsoft.AI.PerfCounterCollector.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/Microsoft.AI.EventCounterCollector.dll
/src/Flipkart/Flipkart/bin/Release/net6.0/Microsoft.AI.DependencyCollector.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/System.Windows.Extensions.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/System.Security.Permissions.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/System.Drawing.Common.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/System.Diagnostics.PerformanceCounter.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Newtonsoft.Json.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Microsoft.Extensions.Logging.ApplicationInsights.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Microsoft.ApplicationInsights.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Microsoft.ApplicationInsights.AspNetCore.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Microsoft.AI.WindowsServer.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Microsoft.AI.ServerTelemetryChannel.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Microsoft.AI.PerfCounterCollector.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Microsoft.AI.EventCounterCollector.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/NuGet.Frameworks.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Newtonsoft.Json.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/testhost.exe
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/testhost.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/src/Flipkart/Flipkart.UnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Microsoft.AI.DependencyCollector.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Flipkart.staticwebassets.runtime.json
/src/Flipkart/Flipkart/bin/Debug/net6.0/Flipkart.runtimeconfig.json
/src/Flipkart/Flipkart/bin/Debug/net6.0/Flipkart.pdb
/src/Flipkart/Flipkart/bin/Debug/net6.0/Flipkart.exe
/src/Flipkart/Flipkart/bin/Debug/net6.0/Flipkart.dll
/src/Flipkart/Flipkart/bin/Debug/net6.0/Flipkart.deps.json
